<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Montagem de Curriculo</title>
    <link rel="icon" href="~/favicon.ico">
    <link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment include="Development">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </environment>
    <environment exclude="Development">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <nav class="teal darken-2">
        <div class="nav-wrapper">
            <a asp-controller="Curriculos" asp-action="ListCurriculos" class="brand-logo" align=”center”> &nbsp Currículo fácil</a>
            <a href="#" data-activates="menu-mobile" class="button-collapse">
                <i class="material-icons">menu</i>

            </a>
            <ul id="nav-desk" class="right hide-on-med-and-down">

                @if (!User.Identity.IsAuthenticated)
                    {
                <li><a asp-controller="Usuarios" asp-action="Registro">Registro</a></li>
                <li><a asp-controller="Usuarios" asp-action="Login">Login</a></li>
                    }
                    else
                    {
                <li><a asp-controller="Curriculos" asp-action="Index">Meus currículos</a></li>
                <li><a asp-controller="InformacoesLogin" asp-action="Index">Minhas Informações</a></li>
                <li><a asp-controller="Usuarios" asp-action="Logout">Logout</a></li>

                    }
            </ul>
            <ul id="menu-mobile" class="side-nav">

                @if (!User.Identity.IsAuthenticated)
                    {
                <li><a asp-controller="Usuarios" asp-action="Registro">Registro</a></li>
                <li><a asp-controller="Usuarios" asp-action="Login">Login</a></li>
                    }
                    else
                    {
                <li><a asp-controller="Curriculos" asp-action="Index">Meus currículos</a></li>
                <li><a asp-controller="InformacoesLogin" asp-action="Index">Minhas Informações</a></li>
                <li><a asp-controller="Usuarios" asp-action="Logout">Logout</a></li>

                    }
            </ul>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - By Caio Ribeiro</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    <script>
        $(function () {
            $(".button-collapse").sideNav();
        });
    </script>
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

</body>
</html>